<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ble.drive_status_cntl">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="Manifest.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.     CHANGE_CONFIGURATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Drive_status_cntl">
        <activity android:name=".EditProfile"></activity>
        <activity
            android:name=".Initial"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Login.AppBarOverlay" />
        <activity
            android:name=".AddCarInfo"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Login.AppBarOverlay" />
        <activity
            android:name=".personInfo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Login.AppBarOverlay" />
        <activity
            android:name=".Carinfo"
            android:label="Select Car"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Login.AppBarOverlay" />
        <activity
            android:name=".loginactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".changeuser"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity android:name=".ecg_collect" />
        <activity
            android:name=".upload_data"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bluetooth"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".health_panel"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
    </application>

</manifest>